@{
    ViewBag.Title = "About SoundFunding.com";
}

<div class="container">
    <div class="content clean">
        <div class="icons">
            <img src="~/html/img/icons.png">
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="container">
    <div class="content clean">

        <p>
            Like music? Want to make the world a better place? Why not combine the two?</br>
            On SoundFunding you can raise money for your favorite cause while listening to the music you love. It's that easy.
        </p>

        <p>
            SoundFunding is a service where 100 % of the earnings from a specific play list is donated to a cause and a charity donation of your choice</br>

            The longer you and your friends listen to the play list, the more money you raised. And it doesn't cost any of you
            anything else than the chance of listening to other tunes than what you're used to.
        </p>


        @Html.ActionLink("Create your SoundFund", "Login", "Authorization", null, new { @class = "button" })
    </div>
</div>

<div class="container" style="margin-top:100px;">
    <div class="content clean">
        @if (ViewBag.OtherCauses != null)
        {
            var random = new Random();
            foreach (var cause in ViewBag.OtherCauses)
            {
                var dim = random.Next(150, 275);
                <a href="/Cause/Cause/@cause.Id">
                    <img src="@cause.Picture" width="@dim" height="@dim" class="circle">
                </a>
            }
        }

        <div class="clear"></div>
    </div>
</div>
