@model SoundFunding.Models.Cause
@{
    ViewBag.Title = Model.Name + " - SoundFunding.com";
}

<h2>@Model.Name</h2>

<p>Description: @Model.Description</p>
<p>Goal sum: $@Model.GoalSum</p>
<p>My charity: @Model.ReceivingOrganization</p>
<p><img src="@Model.Picture" width="300" /></p>