<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://soundfunding.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>soundfunding.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>soundfunding</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$soundfunding</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gw6jc9ct4i.database.windows.net,1433;Initial Catalog=soundfunding_db;User ID=soundfunding@gw6jc9ct4i;Password=!KTURx7ioLB" Name="Data Source=tcp:gw6jc9ct4i.database.windows.net,1433;Initial Catalog=soundfunding_db;User Id=soundfunding@gw6jc9ct4i;Password=!KTURx7ioLB" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SoundFunding.Models.SoundFundingDbContext, SoundFunding" MigrationConfiguration="SoundFunding.Migrations.Configuration, SoundFunding" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=soundfunding;AccountKey=/OqmXZs1d8tc4sWzW62iJCSYT3bevJBWHCZrvrtug5MPPAc4ZwrcUFMrwZbv0MGNpJhBWQodvCUt0TOCBAS/tA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=soundfunding;AccountKey=/OqmXZs1d8tc4sWzW62iJCSYT3bevJBWHCZrvrtug5MPPAc4ZwrcUFMrwZbv0MGNpJhBWQodvCUt0TOCBAS/tA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gw6jc9ct4i.database.windows.net,1433;Initial Catalog=soundfunding_db;User Id=soundfunding@gw6jc9ct4i;Password=!KTURx7ioLB</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnection-Web.config Connection String" />
  </ItemGroup>
</Project>